# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.sqlite3
*.log
media/
db.sqlite3
/static/
# If you collect static files:
staticfiles/

# Virtual environment folder
venv/

# VSCode settings folder
.vscode/

# macOS files
.DS_Store

# Windows alternate data streams metadata (Zone.Identifier)
*:*Zone.Identifier

# Ignore pyc files anywhere
*.pyc

# Ignore coverage reports
.coverage
htmlcov/

# Ignore Python environment settings
.env
.env.*

# Ignore backup files
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Personal files
jamesAdvice.txt
secret_settings.py
build_instructions.txt
dev.sh
prod.sh
project_status.txt
projectRequirements.pdf
update_requirements.sh

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/


