<!DOCTYPE html>
<html>

<head>
    <title>Gun Sounds</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gunSounds/styles.css' %}">
</head>

<body>
    <h1>Gun Sounds</h1>

    {% for sound in sounds %}
    <div class="container">
        <img src="{% static 'gunSounds/images/Frontier_73C.jpg' %}" width="400" height="auto">
        <div class="buttons">
            <button onclick="document.getElementById('audio-{{ forloop.counter }}').play()">1000m</button>
            <button onclick="document.getElementById('audio-{{ forloop.counter }}').play()">800m</button>
            <button onclick="document.getElementById('audio-{{ forloop.counter }}').play()">600m</button>
        </div>
        <audio id="audio-{{ forloop.counter }}" src="{% static sound.path %}"></audio>
    </div>
    {% endfor %}
</body>

</html>
